md-sidenav {
  width: 300px;
}
md-sidenav-container {
  height: calc(100% - 64px);
  height: -webkit-calc(100% - 64px);
  height: -moz-calc(100% - 64px);
  overflow: hidden;
}
@media (max-width: 600px) and (orientation: portrait) {
  md-sidenav-container {
    height: calc(100% - 56px);
    height: -webkit-calc(100% - 56px);
    height: -moz-calc(100% - 56px);
  }
}

.disabled {
  display: block;
  opacity: 0.5;
}
