<app-layout>
  <app-toolbar (toggleMenu)="toggleSidenav($event)">
    <span class="home" [routerLink]="'/'">Ngx Express</span>
    <span class="toolbar-spacer"></span>
    <div class="toolbar-actions" *ngIf="(user$ | async)">
      <span class="cursor-pointer" [mdMenuTriggerFor]="menu">{{(user$ | async)?.username}}</span>&nbsp;
      <md-icon class="account-circle" [mdMenuTriggerFor]="menu">account_circle</md-icon>
      <md-menu #menu="mdMenu" [overlapTrigger]="false"
               yPosition="above" xPosition="before">
        <button md-menu-item (click)="logOut()">
          <md-icon>power_settings_new</md-icon>
          <span>Log out</span>
        </button>
      </md-menu>
    </div>
  </app-toolbar>
  <app-sidenav [open]="currentSideNavState"
               (onClose)="closeSidenav()"
               [mode]="sideNavMode">
    <router-outlet></router-outlet>
  </app-sidenav>
</app-layout>

