<div class="columns remove-margin">
  <div class="column is-4 is-offset-4">
    <div class="notification is-danger" *ngFor="let error of errors$ | async">
      <button class="delete" (click)="removeError(error)"></button>
      {{error.message}}
    </div>
    <div class="login">
      <form class="login-container" [formGroup]="loginForm" (submit)="login()">
        <md-input-container>
          <input formControlName="username" mdInput placeholder="Username">
        </md-input-container>
        <app-control-messages [control]="loginForm.controls.username"></app-control-messages>
        <md-input-container>
          <input formControlName="password" type="password" mdInput placeholder="Password">
        </md-input-container>
        <app-control-messages [control]="loginForm.controls.password"></app-control-messages><br>
        <button color="primary" md-raised-button>Login</button>
        <md-checkbox formControlName="rememberMe" color="primary">Remember me!</md-checkbox>
      </form>
    </div>
  </div>
</div>
