<div class="columns remove-margin">
  <div class="column is-4 is-offset-4">
    <div class="login">
      <form class="login-container">
        <md-input-container>
          <input type="email" mdInput placeholder="Email or username">
        </md-input-container><br>
        <md-input-container>
          <input type="password" mdInput placeholder="Password">
        </md-input-container><br>
        <button color="primary" md-raised-button>Login</button>
        <md-slide-toggle color="primary"><small>Remember me!</small></md-slide-toggle>
      </form>
    </div>
  </div>
</div>
