.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-container {
  padding: 12px;
}

app-control-messages {
  margin-top: -15px;
}
